body {
  font-family: Rubik, sans-serif;
  color: hsl(0, 0%, 13%);
  margin: 0% auto;
  /* width: 750px; */
  background-color: hsl(43, 100%, 85%);
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  align-items: center;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 0.9rem;
}

input[type="number"] {
  width: 30px;
  border: 1px solid hsl(43, 100%, 55%);
  border-radius: 3px;
}

P {
  margin: 0px;
}

header {
  padding-top: 15px;
  text-align: center;
  font-family: "Titan One", sans-serif;
}

header .logo {
  font-size: 35px;
}

h2 {
  font-weight: 400;
}

.container {
  text-align: center;
}

.popular button {
  padding: 4px 6px 2px 6px;
  margin-bottom: 8px;
  background-color: hsl(43, 100%, 68%);
  border-radius: 3px;
  margin-right: 5px;
  font-size: 0.85rem;
}

.popular button:hover {
  background-color: hsl(43, 100%, 55%);
}

.compare {
  padding-top: 20px;
}

.compare .options {
  padding-bottom: 25px;
}

.compare .options label {
  padding-right: 15px;
}

table {
  font-size: 0.9rem;
  border-spacing: 0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;
  border-radius: 0.3rem;
  overflow: hidden;
  margin: auto;
  box-shadow: hsl(43, 100%, 70%) 0px 0px 0px 1px;
}

thead {
  background-color: aliceblue;
}

tr {
  height: 45px;
}

th {
  padding: 4px 10px;
  background-color: hsl(43, 100%, 70%);
}

td {
  text-align: center;
  font-size: 0.9rem;
  padding: 0px 8px;
}

.pizzaList tr:nth-child(even) {
  background-color: hsl(43, 100%, 78%);
}

input {
  background-color: inherit;
}

.deleteButton,
.addButton {
  padding: 4px 6px;
  border-radius: 5px;
  color: hsl(0, 0%, 97%);
  font-size: 0.8rem;
  width: 55px;
}

.deleteButton {
  background-color: hsl(0, 100%, 75%);
}

.deleteButton:hover {
  background-color: hsl(0, 70%, 60%);
}

.addButton {
  background-color: hsl(150, 77%, 57%);
}

.addButton:hover {
  background-color: hsl(150, 57%, 47%);
}

footer {
  padding-top: 100px;
  text-align: center;
}

a {
  color: inherit;
  text-decoration-color: inherit;
}

.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 80%);
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

img {
  height: 50px;
}

/*#region custom checkbox  */
.checkboxContainer {
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: hsl(43, 100%, 70%);
}

/* On mouse-over, add a background color */
.checkboxContainer:hover input ~ .checkmarkBox {
  background-color: hsl(43, 100%, 55%);
}

/* When the checkbox is checked, add a background */
.checkboxContainer input:checked ~ .checkmarkBox {
  background-color: hsl(43, 100%, 65%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkBox:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmarkBox:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmarkBox:after {
  left: 7px;
  top: 4px;
  width: 3px;
  height: 6px;
  border: solid hsl(0, 0%, 13%);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*#endregion  */
