body{
    font-family: Rubik, sans-serif;
    color: hsl(0, 0%, 25%);
    margin: 0% auto;
    width: 750px;
    /*flex-direction: column;
    align-items: center; */
}

button, input[type="submit"], input[type="reset"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 0.9rem;
}

input[type="number"]{
    width: 30px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 3px;
}

P{
    margin: 0px;
}

header{
    padding-top: 15px;
    text-align: center;
}

header .logo{
    font-size: 35px;
}

header .logo span{
    font-weight: 300;
} 

.popular button{
    padding: 3px 6px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 5px;
}

.popular button:hover{
    background-color: hsl(0, 0%, 80%);
}

.compare{
    padding-top: 20px;
}

.compare .options{
    padding-bottom: 10px;
}

.compare .options label{
    padding-right: 15px;
}

table{
    font-size: 0.9rem;
    border-spacing:0; /* Removes the cell spacing via CSS */
    border-collapse: collapse; 
}

thead{
    background-color: aliceblue;
}

tr{
    height: 35px;
}

th{
    padding: 4px 10px;
}

td{
    text-align: center;
    font-size: 0.9rem;
}

.pizzaList tr:nth-child(even){
    background-color: #f2f2f2;
}


.deleteButton, .addButton{
    padding: 4px 6px;
    border-radius: 5px;
    color: hsl(0, 0%, 97%);
    font-size: 0.8rem;
    width: 70px;
}

.deleteButton{
    background-color: hsl(0, 100%, 70%);
}

.deleteButton:hover{
    background-color: hsl(0, 70%, 60%);
}

.addButton{
    background-color: hsl(150, 77%, 57%);
}

.addButton:hover{
    background-color: hsl(150, 57%, 47%);
}

footer{
    padding-top: 100px;
    text-align: center;
}

a{
    color: inherit;
    text-decoration-color: inherit;
}